
.c-page-homepage {
    background-color: tan;
}

.top-of-page-header {
    width: 100%;
    background-color: tan;
}

.top-of-page-title {
    text-align: center;
    font: 700 48px / 52px "Roboto Medium";
    color: rgb(53, 38, 15);
}

.top-of-page-subtitle {
    text-align: center;
    font: 500 32px / 36px "Roboto Medium";
    color: rgb(53, 38, 15);
}

.navbar-brand {
    margin-left: 40px;
}

.image-container {
    display: grid;
    place-items: center;
}

.homepage-splash-image {
    max-width: 80%;
}

.footer-container {
    text-align: center;
    padding-bottom: 20px;
    background-color: tan;
}

.footer-links {
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.767);
    width: fit-content;
    padding: 5px 10px 8px;
    border-radius: 8px;
}

.insta-icon {
    color: #962fbf;
    background-color: white;
    width: 20px;
    height: 20px;
}

.fb-icon {
    color: #1877F2;
}

.tele-icon {
    color: 	#25D366;
}

.email-icon {
    color: #1877F2;
}