
.c-page-homepage {
    background-color: tan;
}

.top-of-page-header {
    width: 100%;
    background-color: tan;
}

.top-of-page-title {
    text-align: center;
    font: 700 48px / 52px "Roboto Medium";
    color: rgb(53, 38, 15);
}

.top-of-page-subtitle {
    text-align: center;
    font: 500 32px / 36px "Roboto Medium";
    color: rgb(53, 38, 15);
}

.image-container {
    display: grid;
    place-items: center;
}

.homepage-splash-image {
    max-width: 80%;
}